{% extends "DarkMeetMainBundle:Email:template.html.twig" %}
{% block content %}

    <p>
             Vous avez reçu un email via le formulaire de contact
            <br/>
            <u><b>Email:</b></u> {{ email }}<br/>
            <u><b>Date:</b></u> {{ date }} {{ heure }}<br/>
            <u><b>Contenu:</b></u> {{ content}}
        </p>
{% endblock %}
