{% extends "DarkMeetMainBundle:Email:template.html.twig" %}
{% block content %}

        <p>
            {{ "email.hello"|trans({'username' : usernameReciever }) }}<br/>
            {% trans %} email.title.visit {% endtrans %} {{ "email.recieved"|trans({
                        'username': usernameSender,
                        'date' : date,
                        'heure': heure
            }) }}
            <br/>
            <a href="{{ url|trans() }}/visites/">{% trans %}email.link{% endtrans %}</a>


        </p>
{% endblock %}