parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     kraken
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            0ct0pu55y
    email_admin:       admin@localhost
    version:           v1.0

    node.bin: /usr/bin/nodejs
    node.module_path: /usr/local/node_modules
    
    debug_website_url: http://localhost/kraken
    debug_mail: admin@localhost

    from_email: kraken@localhost
    from_email_name: Kraken
    website_url: http://kraken.localhost

    #Enable/disable modules
    module_register: true

    #Enable/disable services
    service_crawler_web: true
    service_action_translate: true
    service_sender_email: true
    service_sender_blog: true
    service_sender_social: true


