{% extends "KrakenAdminBundle::layout.html.twig" %}

{% block more_css %}


{% endblock %}
{% block more_js %}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12 media">

                <h4>{% trans %}admin.dashboard{% endtrans %}</h4>
                <br/>
                <ul>
                   <li>
                       {{ "admin.dashboard.scenarios"|trans({"%count%":active_scenario}) }}
                   </li>
                    <li>
                        {{ "admin.dashboard.model"|trans({"%count%":models}) }}
                    </li>
                    <li>
                        {{ "admin.dashboard.users"|trans({"%count%":active_users}) }}
                    </li>
                </ul>

            </div>

        </div>
    </div>
{% endblock %}