textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:90%;
}

.badge {
    background: radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -moz-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -ms-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -o-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background: -webkit-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
    background-color: red;
    border: 2px solid white;
    border-radius: 12px; /* must be 1/2 of ( border-width*2 + width ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 10px Helvetica, Verdana, Tahoma;
    height: 8px; /* height + padding-top must equal width */
    padding-top: 0px; /* height + padding-top must equal width */
    text-align: center;
    width: 2px;
}

.rownew, .rownew td{
    background-color: #eed3d7 !important;
}

.middleBloc{
    min-height: 100px !important;
}

.noBorder{
    border:none !important;
}

.noShadow{
    box-shadow:none !important;
}

.noBackground{
    background: none !important;
}

.txtAlignCenter{
    text-align: center;
}

input{
    height:30px !important;
}

/** override bootstrap **/
.body-content{
  margin-top:100px;
}

.table{
    width:auto !important;
}


/** override jquery css **/


