<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>
    SecFilterEngine Off
    SecFilterScanPOST Off
    upload_max_filesize = 10M
    post_max_size = 20M
    max_execution_time = 100
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
